@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Inputs {
  display: block;
  width: 100%;
  border: none;
  border-radius: $rounded;
  padding: $value-2 $value-1;
}

.Inputs__label {

}

.Input_wrapper {
  margin-top: 10px;
}