@use '../../shared/styles/mixins' as *;
@use '../../shared/styles/variables' as *;

.ComponentList {
  @include glassCard;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.ComponentHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  z-index: 2;

  h1 {
    font-size: 2rem;
    font-weight: 450;
    color: #113853;
    text-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
  }
}

.ComponentList__Wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
