@use '../../shared/styles/mixins' as *;
@use '../../shared/styles/variables' as *;

.CreateRepositoryForm {
  
}

.formStats {
  margin-top: 10px;
  span {
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 12px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
  }
}
