@use '../../shared/styles/variables' as *;
@use '../../shared/styles/mixins' as *;
@use "sass:color";

.Header {
  background-color: $dark-bg-color;
  height: $value-30;
  padding: $value-14;
  @include flexBetween;
}

.Header__logo {
  @include flexCenter;
  gap: $value-8;
}

.Header__name {
  font-size: $value-12;
  font-weight: bold;
  letter-spacing: $value-1;
}

.Header__link {
  transition: color 0.5s;
  font-weight: 700;
  font-size: $value-4;
  &:hover {
    color: color.scale($secondary-color, $lightness: 20%);
  }
}

.Header__nav {
  display: flex;
  gap: $value-8;
}

.Header__Buttons {
  display: flex;
  gap: $value-8;
}
