@use '../../shared/styles/variables' as *;
@use '../../shared/styles/mixins' as *;

.UserIcon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  color: #043856;
  box-shadow: 0 8px 20px rgba(0,30,50,0.2);
}