@use '../../shared/styles/variables' as *;
@use '../../shared/styles/mixins' as *;

.OwnProfile__FormSection {
  @include flexColumn;
  gap: $value-2;
  padding: 0 $value-7;
  margin-bottom: $value-4;
}

.OwnProfile__Back {
  display: flex; // или inline-flex
}
