@use '../../shared/styles/variables' as *;
@use '../../shared/styles/mixins' as *;

.ComponentCard__Badge {
  @include badgeBase;
}

.ComponentCard__More {
  @include badgeBase;
  background: transparent;
  color: $subtitle-color;
  border-style: dashed;
  flex-shrink: 0;
  cursor: help;
}
